
// WORK HEADER - same for mobile and desktop

.project-header {
    @include flexCenter(column);
    margin: 1rem 3rem;
    border: 2px solid red;

        h1 {
            color: $dark;
            font-weight: weights(regular);
            border-bottom: 6px solid $pink;
            display: inline-block;
            line-height: 5px;
            margin: 20px 0 
        }

        h4 {
            color: $dark;
            font-weight: weights(regular);
            font-size: 1.1rem;
            margin-bottom: .8rem;
        }

        p {
            font-weight: weights(light);
            font-size: 1rem;
        }
    }


.project-images {
@include flexCenter(column);
margin: 0 3rem;

    img {
        margin: 1rem;

        @include desktop {
            max-width: 50rem;
        }
        
        @include mobile {
            max-width: 20rem;
        }
    }

}


